# MongoDB Configuration
MONGODB_URL=mongodb://1by23is006_db_user:Aaeeiioouu%405@ac-gj3p4yz-shard-00-00.wb9rck4.mongodb.net:27017,ac-gj3p4yz-shard-00-01.wb9rck4.mongodb.net:27017,ac-gj3p4yz-shard-00-02.wb9rck4.mongodb.net:27017/?ssl=true&replicaSet=atlas-9mh6ch-shard-0&authSource=admin&appName=Cluster0
DB_NAME=dayflow_hrms

# JWT Configuration
JWT_SECRET_KEY=your-super-secret-jwt-key-change-this-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRATION_HOURS=1

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Application Configuration
ENVIRONMENT=development
CORS_ORIGINS=http://localhost:5173,http://localhost:3000
